@import "~bootstrap/dist/css/bootstrap.min.css";
* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: black;
  --eye-color: white;
  --pupil-color: black;
  --eyelid-color: black;

  --delay-pupils: 0.5s;
  --blink-delay: 3s;
  --blink-speed: 1s;
  --angry-pupils-color: red;
}

body {
  background-color: var(--background-color);
}

#hitarea {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 500px;
}

.hitbox {
  width: 100px;
  height: 100px;
  float: left;
}

.eye {
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--eye-color);
  border-radius: 50%;
  left: 25%;
  top: 40%;

  /* ??????? */
  pointer-events: none;
}

/* Copia el ojo al lado */
.eye + .eye {
  left: 55%;
}

.pupil {
  position: relative;
  width: 25px;
  height: 25px;
  background: var(--pupil-color);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -12px;
  /* Suavizar los movimientos de la pupila */
  -webkit-transition: all var(--delay-pupils) ease;
}

.eyelid {
  width: 150px;
  height: 100px;
  position: absolute;
  left: 20%;
  top: 25%;
  /* ??????? */
  pointer-events: none;
  background: var(--eyelid-color);

  /* animacion del parpadeo */
  -webkit-animation-name: blink;
  -webkit-animation-duration: var(--blink-delay);
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: var(--blink-speed);
  -webkit-transition: all 0.5 ease;
}

.eyelid + .eyelid {
  left: 50%;
}

/* Animacion de parpadeo */
@-webkit-keyframes blink {
  0% {
    top: 25%;
  }
  95% {
    top: 25%;
  }
  100% {
    top: 40%;
  }
}

/* Efectos Hover */

/* Efectos de parpados */

.hitbox:hover ~ .eyelid {
  -webkit-transform: rotate(-10deg);
}
/* Parpados tristes efecto espejo*/
.hitbox:hover ~ .eyelid:nth-of-type(2n + 1) {
  -webkit-transform: rotate(10deg);
}

#c-3:hover ~ .eyelid {
  -webkit-transform: rotate(15deg);
}
/* Parpados molesto efecto espejo */
#c-3:hover ~ .eyelid:nth-of-type(2n + 1) {
  -webkit-transform: rotate(-15deg);
}

/* Pupilas */
/* Efecto hover de subir pupilas */
#a-1:hover ~ .eye > .pupil {
  -webkit-transform: rotate(60deg) translate(-30px);
}
#a-2:hover ~ .eye > .pupil {
  -webkit-transform: rotate(80deg) translate(-30px);
}

#a-3:hover ~ .eye > .pupil {
  -webkit-transform: rotate(90deg) translate(-30px);
}

#a-4:hover ~ .eye > .pupil {
  -webkit-transform: rotate(100deg) translate(-30px);
}

#a-5:hover ~ .eye > .pupil {
  -webkit-transform: rotate(120deg) translate(-30px);
}

/* Efecto movimiento de pupilas de arriba abajo por el interior */
#b-1:hover ~ .eye > .pupil {
  -webkit-transform: rotate(50deg) translate(-25px);
}

#b-2:hover ~ .eye > .pupil {
  -webkit-transform: rotate(70deg) translate(-25px);
}

#b-3:hover ~ .eye > .pupil {
  -webkit-transform: rotate(100deg) translate(-25px);
}

#b-3:hover ~ .eye:nth-of-type(2n + 1) > .pupil {
  -webkit-transform: rotate(80deg) translate(-25px);
}

#b-4:hover ~ .eye > .pupil {
  -webkit-transform: rotate(110deg) translate(-25px);
}

#b-5:hover ~ .eye > .pupil {
  -webkit-transform: rotate(130deg) translate(-25px);
}

#c-1:hover ~ .eye > .pupil {
  -webkit-transform: rotate(0deg) translate(-25px);
}

#c-2:hover ~ .eye > .pupil {
  -webkit-transform: rotate(0deg) translate(-10px);
}
/* Cambio de color de pupila */
#c-3:hover ~ .eye > .pupil {
  background: var(--angry-pupils-color);
  -webkit-transform: rotate(180deg) translate(-25px);
}

#c-3:hover ~ .eye:nth-of-type(2n + 1) > .pupil {
  -webkit-transform: rotate(0deg) translate(-25px);
}

#c-4:hover ~ .eye > .pupil {
  -webkit-transform: rotate(180deg) translate(-10px);
}

#c-5:hover ~ .eye > .pupil {
  -webkit-transform: rotate(180deg) translate(-25px);
}

/* Movimiento de pupilas hacia abajo */

#d-1:hover ~ .eye > .pupil {
  -webkit-transform: rotate(-40deg) translate(-25px);
}

#d-2:hover ~ .eye > .pupil {
  -webkit-transform: rotate(-60deg) translate(-25px);
}

#d-3:hover ~ .eye > .pupil {
  -webkit-transform: rotate(-120deg) translate(-25px);
}

#d-3:hover ~ .eye:nth-of-type(2n + 1) > .pupil {
  -webkit-transform: rotate(-60deg) translate(-25px);
}

#d-4:hover ~ .eye > .pupil {
  -webkit-transform: rotate(-130deg) translate(-25px);
}

#d-4:hover ~ .eye:nth-of-type(2n + 1) > .pupil {
  -webkit-transform: rotate(-100deg) translate(-25px);
}

#d-5:hover ~ .eye > .pupil {
  -webkit-transform: rotate(-140deg) translate(-25px);
}

#e-1:hover ~ .eye > .pupil {
  -webkit-transform: rotate(-40deg) translate(-30px);
}

#e-2:hover ~ .eye > .pupil {
  -webkit-transform: rotate(-60deg) translate(-30px);
}

#e-3:hover ~ .eye > .pupil {
  -webkit-transform: rotate(-120deg) translate(-30px);
}

#e-3:hover ~ .eye:nth-of-type(2n + 1) > .pupil {
  -webkit-transform: rotate(-60deg) translate(-30px);
}

#e-4:hover ~ .eye > .pupil {
  -webkit-transform: rotate(-130deg) translate(-30px);
}

#e-4:hover ~ .eye:nth-of-type(2n + 1) > .pupil {
  -webkit-transform: rotate(-100deg) translate(-30px);
}

#e-5:hover ~ .eye > .pupil {
  -webkit-transform: rotate(-140deg) translate(-30px);
}
